body{
    background-color:rgb(238, 238, 238) ;
    margin: 0px;
}
h1{
    color: rgb(161, 0, 0);
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}
.banner{
    background-color: rgb(41, 41, 41);
    height: 150px;
    font-size: 30px;
}
.buttons{
    display: flex;
    align-items: end;
    gap: 100px;
    justify-content: center;
}
button{
    background-color: rgb(238, 238, 238) ;
    border: 1px;
    width: 100px;
    height: 20px;
    border-radius: 5px;
    text-decoration-line: none;
}
a{
    color: rgb(0, 0, 0);
}
.div1 p{
    display: flex;
    text-align: justify;
    margin: 20px;
}
.div2 img{
    width: 450px;
    height: 300px;
    border-radius: 10px;
    margin-left: 20px;
}
.div2{
    display: flex;
    background-color: rgb(31, 31, 31);
    align-items: center;
    margin-bottom: 30px;
}
.div2 p{
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}